<link rel="stylesheet" href="<%= 'css/chat_box.css' %>">
<% if(locals.user) {%>
    <div class="chat-box">
        <div class="chat-box-header"><span></span><div id="close-tab-button"><i class="fas fa-times"></i></div></div>
        <div class="global-message">This is the begining of your conversation with this person. Make sure you know this person. Never share sensetive data like password with anyone.</div>
        <ul class="chat-message-list">
            <li class="other-message">
            </li>
            <li class="self-message">
            </li>
        </ul>
        <div class="chat-message-input-container">
            <input class="chat-message-input" placeholder="Type your message here...">
            <button class="send-message">Send</button>
        </div>
    </div>
    <script>
        $('#join-chat-box-header').click(function(){
            $('#join-chat-box-header').css('display', 'none');
            $('#chat-box').css('display', 'block');
        })
        $('#chat-box-header').click(function(e){
            $('#chat-box').css('display', 'none');
            $('#join-chat-box-header').css('display', 'flex');
        });
    </script>
<% } %>