<div id="forgot-password-div">
    <form action="/users/create_reset_token" method="POST">
        <input type="email" name="email" placeholder="Enter your email">
        <button type="submit">Submit</button>
    </form>
</div>