<% if(password_token.isValid) { %>
    <div id="forgot-password-div">
    <form action="/users/update-password/<%= password_token.accessToken %>" method="POST">
        <input type="password" name="password" placeholder="New Password">
        <input type="password" name="confirm_password" placeholder="Confirm Password">
        <button type="Submit">Submit</button>
    </form>
    </div>
<% }else{ %>
    <h1>Access Token Expired</h1>
<% } %>