//Google fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

//Font variables
$roboto: "Roboto", sans-serif;
#main-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  #feed-posts {
    text-align: center;
    width: 60vw;
    height: 100%;
    padding: 1rem;
    font-family: $roboto;
    #post-form {
      margin-bottom: 2rem;
      width: 95%;
      #welcome-user {
        text-align: start;
        font-weight: bold;
        margin-bottom: 1rem;
      }
      border-radius: 0.5rem;
      padding: 1rem;
      height: 160px;
      background-color: white;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      form {
        textarea {
          resize: none;
          height: 4rem;
          width: 55vw;
          border-radius: 0.3rem;
          border: 1px solid lightgrey;
          padding: 0.5rem;
          font-family: $roboto;
          margin-bottom: 0.5rem;
        }
        textarea::placeholder {
          font-family: $roboto;
          font-size: 1rem;
        }
        textarea:focus {
          outline: none;
        }
        input[type="file"] {
          margin-left: 34vw;
          border: 1px solid lightgray;
          border-radius: 0.5rem;
          width: 10vw;
          height: 1.5rem;
          padding: 0.5rem;
        }
        button {
          margin-left: 50vw;
          height: 2rem;
          width: 80px;
          background-color: #42b72a;
          color: white;
          border: none;
          border-radius: 0.3rem;
          font-size: 1.1rem;
          cursor: pointer;
          transition: background-color 0.2s ease-in-out;
        }
        button:hover {
          background-color: #42aa2d;
        }
      }
    }

    #posts-container {
      li {
        .post-card {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          width: 100%;
          margin-left: -2.5rem;
          padding: 1rem;
          text-align: start;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          border-radius: 0.5rem;
          margin-bottom: 2rem;
          background-color: white;
          .post-card-header {
            display: flex;
            justify-content: end;
            flex-direction: row;
            flex-wrap: wrap;
            width: 56vw;
            .post-user-profile-pic {
              height: 50px;
              width: 50px;
              border-radius: 50%;
              display: block;
              object-fit: cover;
              text-align: center;
            }
            .user-name {
              font-size: 1.1rem;
              font-weight: bold;
              margin-bottom: 1.5rem;
              margin-left: 0.5rem;
              width: 89%;
              display: flex;
              flex-direction: column;
              b {
                font-size: 0.9rem;
                margin-top: 0.5rem;
              }
              a {
                text-decoration: none;
                transition: text-decoration 0.2s ease-in-out;
              }
              a:hover {
                text-decoration: underline;
              }
            }
            a {
              color: black;
            }
          }
          .post-content {
            min-height: 70px;
            font-size: 1.2rem;
            white-space: pre-line;
            text-align: left;
            margin-bottom: 1rem;
            margin-left: 0.5rem;
          }

          .likes-count {
            color: rgb(75, 75, 75);
            font-size: 0.8rem;
            margin-bottom: 0.5rem;
          }

          .like-comment-bar {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            border-top: 1px solid lightgray;
            border-bottom: 1px solid lightgray;
            padding-top: 0.12rem;
            height: 1.8rem;
            padding-bottom: 0.5rem;
            margin-bottom: 1rem;
            .like {
              width: 47%;
              text-align: center;
              border-radius: 0.5rem;
              padding: 0.5rem;
              transition: background-color 0.2s ease-in-out;
              cursor: pointer;
              a {
                color: black;
                text-decoration: none;
              }
            }
            .like:hover {
              background-color: rgb(226, 226, 226);
            }
            .comment {
              width: 47%;
              text-align: center;
              border-radius: 0.5rem;
              padding: 0.5rem;
              transition: background-color 0.2s ease-in-out;
              cursor: pointer;
            }
            .comment:hover {
              background-color: rgb(226, 226, 226);
            }
          }
          .comments-container {
            form {
              textarea {
                resize: none;
                height: 1rem;
                width: 54.5vw;
                border-radius: 2rem;
                border: 1px solid lightgrey;
                padding: 0.5rem;
                font-family: $roboto;
                font-size: 0.8rem;
                margin-bottom: 0.5rem;
                display: inline;
              }
              textarea::placeholder {
                font-family: $roboto;
                font-size: 0.8rem;
              }
              textarea:focus {
                outline: none;
              }

              button {
                margin-left: 48vw;
                height: 2rem;
                width: 8vw;
                font-size: 0.8rem;
                background-color: #42b72a;
                color: white;
                font-weight: bold;
                border: none;
                border-radius: 0.3rem;
                cursor: pointer;
                transition: background-color 0.2s ease-in-out;
              }
              button:hover {
                background-color: #42aa2d;
              }
            }

            .posted-comments {
              .comments-header {
                font-size: 0.8rem;
              }

              ul {
                li {
                  .comment-user-profile-pic {
                    margin-left: -3vw;
                    img {
                      height: 30px;
                      width: 30px;
                      border-radius: 50%;
                      display: inline-block;
                    }
                  }
                  .comment-card {
                    background-color: #f0f2f5;
                    border-radius: 1rem;
                    margin-left: 0vw;
                    margin-top: -35px;
                    padding: 1rem;
                    padding-top: 0.5rem;
                    margin-bottom: 0.5rem;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                    width: 20vw;
                    .comment-user-name {
                      font-size: 0.9rem;
                      font-weight: bolder;
                      margin-bottom: 0.5rem;
                      display: flex;
                      flex-direction: row;
                      justify-content: space-between;
                      a {
                        color: black;
                        text-decoration: none;
                      }
                      a:hover {
                        text-decoration: underline;
                      }
                    }
                    .comment-content {
                      margin-left: 0rem;
                      font-size: 1rem;
                    }
                  }
                  .comment-like {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    font-size: 0.8rem;
                    width: 8vw;
                    font-weight: bold;
                    margin-left: 0vw;
                    margin-bottom: 1rem;
                    a {
                      color: black;
                      text-decoration: none;
                    }
                    .seperator {
                      margin-top: 0.25rem;
                      font-size: 0.2rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  #user-friends {
    border-left: 1px solid lightgray;
    padding-left: 1rem;
    font-family: $roboto;
    position: absolute;
    right: 0;
    margin-right: 3rem;
    z-index: -1;
    #user-friends-header {
      font-weight: bold;
      font-size: 1rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      height: 3rem;
      line-height: 3rem;
      width: 160%;
      margin-left: -0.9rem;
      background-color: #ffa200;
      text-align: center;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
      color: #1a2238;
    }
    #user-friends-header:hover {
      background-color: #f19900;
    }
    .user-friends-list {
      padding: 0.5rem;
      border-bottom: 0.5px solid lightgray;
      height: 2rem;
      text-align: start;
      line-height: 2rem;
      cursor: pointer;
      margin-left: -0.5rem;
      transition: background-color 0.2s ease-in-out;
      width: 160%;
      margin-left: -0.9rem;
    }
    .user-friends-list:hover {
      background-color: lightgray;
    }
    a {
      color: black;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  #all-users {
    border-right: 1px solid lightgray;
    font-family: $roboto;
    position: absolute;
    left: 0;
    z-index: -1;
    margin-left: 0.5rem;
    #all-users-header {
      font-weight: bold;
      font-size: 1rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      height: 3rem;
      line-height: 3rem;
      width: 100%;
      margin-left: -0.9rem;
      background-color: #ffa200;
      text-align: center;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
      color: #1a2238;
    }
    #all-users-header:hover {
      background-color: #f19900;
    }

    .user-list {
      padding: 0.5rem;
      border-bottom: 0.5px solid lightgray;
      height: 2rem;
      text-align: start;
      line-height: 2rem;
      max-width: 10vw;
      overflow-y: hidden;
      text-overflow: clip;
      cursor: pointer;
      margin-left: -0.5rem;
      transition: background-color 0.2s ease-in-out;
    }

    .user-list:hover {
      background-color: lightgray;
    }
    a {
      color: black;
      text-decoration: none;
    }
    a:hover {
      text-decoration: black;
      text-decoration: underline;
    }
  }
}

@media only screen and (max-width: 1100px) {
  #main-section {
    #feed-posts {
      width: 60vw;
      border-right: none;
      #posts-container {
        li {
          .post-card {
            .post-card-header {
              width: auto;
              //font-size: 1rem;
              .user-name {
                //font-size: 0.9rem;
                margin-right: -2rem;
              }
            }
          }
        }
      }
    }
  }

  #all-users {
    height: 50vh;
    overflow-y: scroll;
    border: none;
  }

  #user-friends {
    border: none;
    overflow-y: hidden;
    padding-right: 1rem;
    font-family: $roboto;
    position: absolute;
    left: 4vw;
    top: 65%;
  }
}

@media only screen and (max-width: 950px) {
  #main-section {
    #feed-posts {
      width: 60vw;
      #post-form {
        form {
          textarea {
            width: 95%;
          }
          button {
            margin-left: 75%;
          }
        }
      }

      #posts-container {
        li {
          .post-card {
            width: 104%;
            .post-content {
              font-size: 1.1rem;
            }

            .like-comment-bar {
              .like {
                width: 45%;
              }
              .comment {
                width: 45%;
              }
            }

            .comments-container {
              form {
                textarea {
                  width: 95%;
                }
                button {
                  height: 2rem;
                  width: 80px;
                  margin-left: 45%;
                }
              }
              .posted-comments {
                ul {
                  li {
                    .comment-user-profile-pic {
                      margin-left: -5vw;
                    }
                    .comment-card {
                      width: 50%;
                    }
                    .comment-like {
                      width: 12vw;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  #all-users {
    display: none;
  }
  #user-friends {
    display: none;
  }
  #main-section {
    #feed-posts {
      width: 90vw;
      #post-form {
        form {
          textarea {
            width: 95%;
          }
          button {
            margin-left: 75%;
          }
        }
      }

      #posts-container {
        li {
          .post-card {
            width: 104%;
            .post-content {
              font-size: 1.1rem;
            }

            .like-comment-bar {
              .like {
                width: 45%;
              }
              .comment {
                width: 45%;
              }
            }

            .comments-container {
              form {
                textarea {
                  width: 95%;
                }
                button {
                  height: 2rem;
                  width: 80px;
                  margin-left: 80%;
                }
              }
              .posted-comments {
                ul {
                  li {
                    .comment-user-profile-pic {
                      margin-left: -8vw;
                    }
                    .comment-card {
                      width: 50%;
                    }
                    .comment-like {
                      width: 18vw;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 420px) {
  #main-section {
    #feed-posts {
      #post-form {
        form {
          button {
            margin-left: 48%;
          }
        }
      }
      width: 90vw;
      #post-form {
        form {
          textarea {
            width: 95%;
          }
          button {
            margin-left: 75%;
          }
        }
      }

      #posts-container {
        li {
          .post-card {
            .post-card-header {
              .post-user-profile-pic {
                height: 40px;
                width: 40px;
              }
              .user-name {
                font-size: 1rem;
              }
              a {
                color: black;
              }
            }
            width: 104%;
            .post-content {
              font-size: 1.1rem;
            }

            .like-comment-bar {
              .like {
                width: 45%;
              }
              .comment {
                width: 40%;
              }
            }

            .comments-container {
              form {
                textarea {
                  width: 95%;
                }
                button {
                  height: 2rem;
                  width: 80px;
                  margin-left: 70%;
                }
              }
              .posted-comments {
                ul {
                  li {
                    .comment-user-profile-pic {
                      margin-left: -10vw;
                    }
                    .comment-card {
                      width: 50%;
                    }
                    .comment-like {
                      width: 25vw;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
