@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
#header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #1a2238;
  color: white;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 2rem;
  height: 2.6em;
  width: 96.9%;
  position: fixed; }
  #header a {
    color: white;
    text-decoration: none; }
    #header a #website-name {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-family: "Roboto", sans-serif;
      font-size: 2rem;
      font-weight: bolder; }
  #header #links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 120px; }
    #header #links #notification-bell {
      font-size: 1.3rem;
      cursor: pointer; }
    #header #links span {
      margin-top: 0.5rem; }
      #header #links span a {
        color: white;
        font-family: "Roboto", sans-serif; }
  #header .dropdown {
    position: relative;
    display: none;
    font-size: 1.5rem;
    padding-right: 1rem; }
    #header .dropdown .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      font-size: 0.9rem;
      top: 10px;
      right: 20px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      text-align: center;
      z-index: 1; }
      #header .dropdown .dropdown-content div {
        padding: 0.5rem;
        height: 20px;
        transition: all 0.4s ease-in-out;
        color: black; }
        #header .dropdown .dropdown-content div a {
          text-decoration: underline;
          color: black;
          display: block;
          font-weight: bold;
          padding: 0px;
          margin-bottom: 1rem; }
  #header .dropdown-content div:hover {
    background-color: #f1f1f1; }
    #header .dropdown-content div:hover a {
      color: black; }

#notification-dropdown {
  height: 350px;
  width: 300px;
  position: fixed;
  top: 2.6em;
  right: 17vw;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
  color: white;
  display: none; }
  #notification-dropdown #notification-dropdown-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    padding: 1rem;
    background-color: #1a2238;
    color: white;
    cursor: pointer; }
  #notification-dropdown .notifications {
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow-y: auto; }
    #notification-dropdown .notifications .notification {
      border-bottom: 0.5px solid #9daaf2;
      height: 2rem;
      line-height: 2rem;
      color: black;
      padding: 1rem;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
      background-color: #e6eaff; }
  #notification-dropdown .notification:hover {
    background-color: #dbe2ff; }

@media only screen and (max-width: 700px) {
  #header {
    height: 2rem; }
    #header a #website-name {
      font-size: 1.5rem; }
    #header #links {
      display: none; }
    #header .dropdown {
      display: inline-block; } }
